# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Variables de entorno
.env

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
