# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entornos virtuales
venv/
.env
.env.*

# Django
*.log
local_settings.py
db.sqlite3
media/

# Static compilado, si luego lo usas
staticfiles/

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.bak

# Modelos ML pesados opcionalmente
*.joblib
*.pkl
